<!-- {{postForm.value|json}} -->
<!-- {{dataLoaded}} -->
<mat-spinner *ngIf="!dataLoaded"></mat-spinner>
<mat-card class="example-card" *ngIf="dataLoaded">
    <mat-card-header>
      <mat-card-title>Create Post</mat-card-title>
      <mat-card-subtitle>Fill the template to create new post.</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
        <form class="example-form" autocomplete="off" [formGroup]="postForm">
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <input formControlName="title"  matInput>
              <mat-error>
                <span *ngIf="postForm.controls.title.errors?.required">This field is mandatory.</span>
            </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Content</mat-label>
              <textarea COLS="30" ROWS="5" WRAP="HARD" formControlName="content" matInput ></textarea>
              <mat-error>
                <span *ngIf="postForm.controls.content.errors?.required">This field is mandatory.</span>
            </mat-error>
            </mat-form-field>
          </form>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"  (click)="onFormSubmit()" >Submit</button>
     <a mat-raised-button color="primary" routerLink="/">Cancel</a>
    </mat-card-actions>
  </mat-card>