<mat-accordion multi="true"  *ngIf= "posts.length > 0 && !isLoading"   >

    <mat-expansion-panel *ngFor = "let post of posts" expanded="true">
    <mat-expansion-panel-header>
    <mat-panel-title>
    {{ post.title }}
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <div class="panel-content">
        <p>{{ post.content }}</p>
        <p>{{post.creator}}  , {{loggedInUser}}</p>
    </div>
    <mat-action-row >
        <button *ngIf="isAuthenticated && loggedInUser === post.creator" mat-button color="warn" (click)="onDelete(post.id)" >Delete</button>
        <a mat-button *ngIf="isAuthenticated && loggedInUser === post.creator" [routerLink]="['/edit',post.id]" color="primary" >Edit</a>
      </mat-action-row>

    </mat-expansion-panel>
    
</mat-accordion>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf= "posts.length > 0">
</mat-paginator>
<span *ngIf="noPostCreated">No Post added yet!</span>
<mat-spinner *ngIf="isLoading"></mat-spinner>