
:host{
    display: block;
    margin-top: 1rem !important;
    width: 500px;
    margin-left: 30px;
    margin-bottom: 1rem !important;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .panel-content{
      overflow-x: scroll;
     
  }